@model IEnumerable<DiplomaDataModel.Choice>

@{
    ViewBag.Title = "Index";
}

<head>
    @*<script src="./Scripts/jquery-2.2.1.min.js"></script>*@

    <br/>
    @Html.Label("Year and Term: ")
    @Html.DropDownList("YearTermSelects", null, new { @class = "form-control" })

    <script>

        var baseUrl = 'http://a2api.amandaxu.xyz/api/choices';

        function GetAllChoices(target) {
            jQuery.support.cors = true;
            $.ajax({
                url: baseUrl,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data, target);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
           }

            function WriteResponse(people, target) {
            var strResult = "<table class='ui-state-highlight'><tr><th>Id</th><th>First Name</th><th>Last Name</th><th>YearTermId</th><th>First Choice</th></tr>";
            $.each(people, function (index, person) {
                if(person.YearTermId == ($('#YearTermSelects').val())){
                strResult += "<tr>\n";
                strResult += "<td>" + ((person.StudentId !== undefined) ? person.StudentId : "") + "</td><td> " + person.StudentFirstName + "</td><td>" + person.StudentLastName + "</td><td>" + person.YearTermId + "</td><td>" + person.FirstChoiceOptionId + "</td>";
                strResult += "<td></td>\n"
                strResult += "</tr>\n";
                }
            });
            strResult += "</table>\n";
            $(target).html(strResult);
        }
    </script>
</head>

<br/>
<div id="show_all">
    <button onclick="GetAllChoices('#div_show_all'); return false;">Get Choices</button>
    <br /><br />
    <div id="div_show_all"></div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_YearTermId.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @if (item.FK_YearTermId.Term == 10) {
                @("Winter")
            }
            else if (item.FK_YearTermId.Term == 20){
                @("Spring/Summer")
            }
            else{
                @("fall")
            }


            @Html.DisplayFor(modelItem => item.FK_YearTermId.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdOption.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceId })
        </td>
    </tr>
}

</table>
